*{
    padding: 0;
    margin: 0%;
}
.w-h100{
    width: 100%;
    height: 100%;
}
.navbody{
    /* border: 2px solid red; */
    /* color: red; */
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
}
.nav1{
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
    cursor: pointer;
    font-weight: 700; 
}
.nav-p-1{
    color: white;
    font-size: 10px;
    font-weight: 700;
    width: 250px;
    align-items: center;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.arrow-icon{
    font-size: 16px;
}


.nav2{
    /* border: 1px solid red; */
    text-align: center;
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    /* border: 2px solid red; */
   
}
.nav-left-icon{
    width: 70px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: space-between; 
    margin-left: 20px;
    cursor: pointer;
}
.list-icon{
    font-size: 20px;
}
.heart-icon{
    font-size: 20px;
}





.nav-center-logo{
    width: 800px; 
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.adi-logo{
    width: 54px;
    /* border: 1px solid black; */
    height: 50px;
}



.category{
    width: 500px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* align-items: center; */
    /* height: 55px; */
}
.category>p{
    margin-top: 20px;
}
.category>p:hover{
    /* padding-bottom: 26px; */
    border-bottom: 2px solid black;
}
.bold{
    font-weight: bold;
}
.normal{
    font-weight: 100;
}
.bold-clr{
    font-weight: bold;
    color: red;
}



.nav-right-info{
    width:300px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: 50px;  
}
.login-reg{
    width: 240px;
    /* border: 1px solid red; */
    margin-left: 60px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.login-reg>p:hover{
    border-bottom: 1px solid black;
}
.search-profile-icon{
    width: 300px;
    /* border: 1px solid red; */
    height: 26px;
}
.search-profile-icon{
    display: flex;
}
.search{
    width: 180px;
    /* border: 1px solid black; */
    display: flex;
    background-color: rgb(236,239,241);
    height: 28px;
    align-items: center;
}
#seach-input{
    background-color: rgb(236,239,241);
    width: 150px;
    font-size: 14px;
    border: none;
    outline: none;
    padding-left: 10px;
}
.profile{
    width: 30px;
}
.heart{
    width: 30px;
}
.bag{
    width: 30px; 
}


.nav-3{
    background-color: rgb(236,239,241);
    height:80px;
   text-align: center;
   padding-top: 10px;
   font-size: 16px;
}













/* @media screen and (min-width:300px) and (max-width:960px) {
    
} */

/* @media screen and (min-width:961) {
    .nav-left-icon{
        /* display: block; */
        /* display: hidden; */
    /* }  */
/* }  */